*{
    box-sizing: border-box;
}
.container{
    border: 1px solid black;
    margin: 0 auto;
    height: 50vh;
    overflow: hidden;
    border-radius: 6px;
}
.tool{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.font-size{
    display: flex;
}
.tool button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    &:hover{
        background-color: lightgray;
    }
}